@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');


body{
    font-family: 'Baskervville', sans-serif;
    overflow-x: hidden;
    background-color: #FAF9F6;
    height: 100%;
  }

  .full-height {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
  }

 
  .logo{
    width: 120px;
    height: auto;
  }

  header{
    height: 100%;
  }
  nav{
    background-color: #f8f9fa;
  }

  a{
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .navbar-brand,.navbar-toggler,
  .text-primary{
    color: black !important;
  }

  .nav-link{
    font-weight: 500;
    color: black;
  }

  .btn-primary{
    background-color: #8a58ca;
    border: none;
  }

  .btn-shop{
    background-color: blueviolet;
    border: none;
  }

  .btn-buy{
    background-color: #8a58ca;
    border: none;
    color: white;
  }

  .btn-link{
    list-style: none;
    text-decoration: none;
    color: black;
  }

  .nav-link:hover{
    color: #0a58ca;
  }

  p{
    font-size: 18px;
  }

  .btn-primary:hover{
    background-color: #257dfd;
  }

  .blue-bg{
    background-color: #0a58ca;
    color: #fff;
  }


  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none !important;
    background-color: #0a58ca;
    color: #fff;
  }

  .nav-tabs{
    border: none !important;
  }

  /* Card hover */
  .card-container {
    perspective: 1000px; /* Adds depth to the flip effect */
  }

  .card-flip {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s; /* Adds smooth transition for the flip */
  }

  .card-flip:hover {
    transform: rotateY(180deg); /* Flips the card on hover */
  }

  .card-front,
  .card-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
  }

  .card-front {
    background-color: #007bff;
    color: white;
  }

  .card-back {
    background-color: #f8f9fa;
    color: black;
    transform: rotateY(180deg); /* Hides the back initially */
    padding: 15px;
  }

  .card-lits{
    line-height: 1;
  }

  footer{
    background-color: #000;
    color: white;
    padding: 10px 0;
  }

  .footer a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }

  .footer a:hover {
    color: #ff5733;
  }

  .footer .social-icons i {
    font-size: 1.5rem;
  }
  .content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .hero{
    margin-top: 50px;
  }

  .pic{
    margin-bottom: 50px;
  }

  .intro{
    margin-bottom: 50px;
    align-items: center;
  }

  .flex-grow-1 {
    flex-grow: 1;
  }


  /* Whatsapp Button */
  .whatsapp-btn {
    background-color: #25D366; /* WhatsApp green color */
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .whatsapp-btn:hover {
    background-color: #128C7E; /* Darker green on hover */
    text-decoration: none;
  }
  .whatsapp-btn i {
    margin-right: 8px; /* Space between icon and text */
  }


  /* offer section */
  .offer{
    background-color: #183052;
    color: #fff;
   
  }
.offer-section {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-paragraph {
  display: none;
  transition: opacity 1s ease-in-out;
  align-items: center;
  margin-top: 10px;
}

.active-offer {
  display: block;
}

.offer-paragraph p {
  font-size: 1.1rem;
  font-weight: bold;
}
